/* ===================== Footer ====================*/
.footer-body{
    background-color: #1D1D1E;
    padding: 3.93rem 13rem 2.31rem 7.06rem;  
}

.entire-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 63px 208px 37px 113px; */
    color: #FFFFFF;
}

.entire-footer p:hover{
    color:#A02279;
    cursor: pointer;
}



.footer-sm-logo{
    margin-top: 96.32px;
    padding-right: 41px;
    margin-bottom: 46.13px;
}

.entire-footer  h5{
    font-size: 18px;
    line-height: 22px;
}

.entire-footer  p{
    font-size: 14px;
    line-height: 35px;
}

@media only screen and (max-width: 1050px){
    .entire-footer{
        display: flex;
        
        justify-content: space-between;
        color: #FFFFFF;
    }
    .footer-body{
        width: 200%;
    }
}