@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&display=swap');
body{
    font-family: 'Red Rose', cursive;
    overflow: auto;
}
*{
    margin-right: 0px;
}
/* ===================== Hero-Page ===================*/

.Heropage{
    display: flex;
    background-color: #FFFFFF;
    /* width: 100%; */
    padding-top: 100px;
}

.Hero-story{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #434343;
}


.all-hero-text{
    margin-left: 100px;
}
#Hero-imgs{
    padding-left: 50px;
    margin-bottom: 100px;
    
    width: 400px;
    height: 400px;
}

#hero-header{
    font-weight: 400;
    font-size: 3.5rem;
    color: #434343;
}
 
.Hero-text{
    color:#A02279;

}

.hero-input{
    background: rgba(247, 247, 247, 0.1);
    border: 1px solid #A3A3A3;
    border-radius: 8px 0px 0px 8px;
    height: 54px;
    width: 390px;
    padding-left: 10px;
    font-family: 'Red Rose', cursive;
}

#hero-btn{
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    border-radius: 0px 8px 8px 0px;
    height: 59px;
    width: 230px;
    font-family: 'Red Rose', cursive;
    color:#FFFFFF;
    border: none;
}

/* ===================== Tokens-Page ====================*/
.tokens-page{
    display: flex;
    flex-direction: row;  
    padding: 10px 100px;
    /* width: 71.8rem; */
    /* width: 75%; */
    height: 70px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    justify-content: space-between; 
}  

/* ===================== NFTs-Page ====================*/
/* .nft-image{
    width: 60%;
} */

/* ===================== METAbnb-Page ====================*/
.MetaBNB{
    background-color:#A02279;
    color: #FFFFFF;
    /* width: 100%; */
    width: "100%";
    flex-direction: row;
    height: 48.38rem;
    display: flex;
}


.Metabnb-text{
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 6.25rem;
    margin-right: 4rem;
}

#Metabnb-header{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

#Metabnb-paragraph{
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
}
#metabnb-img{
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 45px;
    width: 650px;
    height: 520.85px;   
}

#Metabnb-button{
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border-radius: 8px; 
    height: 48px;
    width: 156px;
    color:#A02279;
    font-family: inherit;
    font-size: 16px;
    border: none;
}


/* ===================== NaviBarr ====================*/
  
a{
    text-decoration: none;
  }

  .class-links{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #434343;
    margin-right: 80px;
    cursor: pointer;
  }

  .nav-logo{
    padding-top: 10px;
    margin-left: 35px;
  }
  .nav-button{
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border-radius: 10px;
    height: 48px;
    width: 140px;
    color: #FFFFFF;
    font-family: 'Red Rose';
    border: none;
    margin-left:60px ;
    margin-bottom: 10px;
    
  }
  .text-links:hover {
    color:#A02279;
  }
  .entire-nav-bar{
    width: 100%; 
    margin-bottom: 10px;
    box-shadow: rgb(67 67 67  25%) 0px 3px 3px;
    position: fixed;
    background-color: #FFFFFF;
  }
  
  /* ===================== Places ====================*/
  .nft-categories{
    display: flex;
    flex-direction: row;
  }




  @media only screen and (max-width: 1050px){
    .MetaBNB{
        flex-direction: column;
        width: 200%;
        align-items: center;
    }
    .hero-input{
        background: rgba(247, 247, 247, 0.1);
        border: 1px solid #A3A3A3;
        border-radius: 8px 0px 0px 8px;
        height: 54px;
        width: 180px;
        padding-left: 10px;
        font-family: 'Red Rose', cursive;
    }

    .Metabnb-text{
        text-align: center;
    }
    #metabnb-img{
        align-items: center;
        width: 300px;
        height: 420.85px;   
        padding-left: 10px;
    }

    .nft-rows{
        width: 100%;
    }

    .nft-image{
        width: 30%;
    }
    .nft-page{
        width:180%;
    }
    .tokens-page{
        flex-direction: column;
        align-items: center;
        height: 200px;
        width: 200%
    }
    .tokens-logo{
        width: 200px;
    }
  }

 